
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDeportefavoritoLabel" translate="basketballOauth2Jhipster3App.deportefavorito.home.createOrEditLabel">Create or edit a Deportefavorito</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.deportefavorito.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="basketballOauth2Jhipster3App.deportefavorito.nivelDominio" for="field_nivelDominio">NivelDominio</label>
            <select class="form-control" name="nivelDominio" ng-model="vm.deportefavorito.nivelDominio" id="field_nivelDominio">
                <option value="Basico" translate="basketballOauth2Jhipster3App.NivelHabilidad.Basico">Basico</option>
                <option value="Intermedio" translate="basketballOauth2Jhipster3App.NivelHabilidad.Intermedio">Intermedio</option>
                <option value="Avanzado" translate="basketballOauth2Jhipster3App.NivelHabilidad.Avanzado">Avanzado</option>
                <option value="Pro" translate="basketballOauth2Jhipster3App.NivelHabilidad.Pro">Pro</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="basketballOauth2Jhipster3App.deportefavorito.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.deportefavorito.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="basketballOauth2Jhipster3App.deportefavorito.deporte" for="field_deporte">deporte</label>
            <select class="form-control" id="field_deporte" name="deporte" ng-model="vm.deportefavorito.deporte" ng-options="deporte as deporte.nombre for deporte in vm.deportes track by deporte.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
